{% extends 'base.html.twig' %}
{% import '_icons.html.twig' as ico %}

{% block title %}{{ 'common.labels.welcome'|trans }}{% endblock %}

{% block body %}
  <div class="container-xl py-5">
    <div class="text-center mb-5">
      <img src="{{ asset('img/prismarr/prismarr-logo-horizontal.png') }}"
           alt="Prismarr"
           style="height: 64px; margin-bottom: 1rem;"/>
      <h1 class="h2 mb-2">{{ 'home.welcome.title'|trans }}</h1>
      <p class="text-secondary">{{ 'home.welcome.subtitle'|trans }}</p>
    </div>

    <div class="row row-cards row-deck">
      <div class="col-md-6 col-lg-4">
        <a href="{{ path('app_setup_tmdb') }}" class="card card-link">
          <div class="card-body text-center">
            <div class="mb-2">{{ ico.icon('sparkles', '', 32) }}</div>
            <h3 class="card-title">{{ 'home.welcome.cards.discovery.title'|trans }}</h3>
            <p class="text-secondary small mb-0">{{ 'home.welcome.cards.discovery.subtitle'|trans }}</p>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{{ path('app_setup_managers') }}" class="card card-link">
          <div class="card-body text-center">
            <div class="mb-2">{{ ico.icon('movie', '', 32) }}</div>
            <h3 class="card-title">{{ 'home.welcome.cards.managers.title'|trans }}</h3>
            <p class="text-secondary small mb-0">{{ 'home.welcome.cards.managers.subtitle'|trans }}</p>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{{ path('app_setup_indexers') }}" class="card card-link">
          <div class="card-body text-center">
            <div class="mb-2">{{ ico.icon('search', '', 32) }}</div>
            <h3 class="card-title">{{ 'home.welcome.cards.indexers.title'|trans }}</h3>
            <p class="text-secondary small mb-0">{{ 'home.welcome.cards.indexers.subtitle'|trans }}</p>
          </div>
        </a>
      </div>
      <div class="col-md-6 col-lg-4">
        <a href="{{ path('app_setup_downloads') }}" class="card card-link">
          <div class="card-body text-center">
            <div class="mb-2">{{ ico.icon('download', '', 32) }}</div>
            <h3 class="card-title">{{ 'home.welcome.cards.downloads.title'|trans }}</h3>
            <p class="text-secondary small mb-0">{{ 'home.welcome.cards.downloads.subtitle'|trans }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
